<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net472" />
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="IronOcr" version="2022.3.0" targetFramework="net472" />
  <package id="IronOcr.Languages.Hebrew" version="2020.11.2" targetFramework="net472" />
  <package id="IronPdf" version="2022.6.6115" targetFramework="net472" />
  <package id="IronPdf.Native.Chrome.Windows" version="2022.6.6075" targetFramework="net472" />
  <package id="IronPdf.Slim" version="2022.6.6115" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net472" />
  <package id="Twilio" version="5.75.1" targetFramework="net472" />
</packages>